:root {
    --background : #0C0B10;
    --grid-border: solid 1px gray;
    --color-0: #ddd;
    --color-1: #c89660;
}
html * {
    font-family: 'OCR A Std', sans-serif;
}
body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

#d1 img {
    position: absolute;
    z-index: -1;
    height: 100%;
    min-width: 100vw;
    width: calc(100vh * (16 / 9));
}

#d2 .grid {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    border-bottom: var(--grid-border);
}
#d2 .cell {
    color: var(--color-0);
    border-top: var(--grid-border);
    border-left: var(--grid-border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 40px;
}
#d2 .cell:nth-child(3n+1) {
    border-left: 0;
}
#d2 .cell span {
    padding: 20px 40px;
    text-transform: uppercase;
}
#d2 .date::before {
    content: '¤ ';
    color: #c89660;
}
#d2 .name {
    font-size: 25px;
}
#d2 .details {
    color: var(--color-1);
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
#d2 .details::before {
    content: '+ ';
}
#d2 .details:hover::before {
    content: '- ';
}